    .SideBar {
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid var(--main-color)
    }
    
    .SideBar a {
        color: black !important;
    }
    
    .SideBar a:hover {
        background-color: var(--main-color);
    }
    
    .active {
        background-color: var(--main-color) !important;
        color: var(--main-color);
    }