/* Error.module.css */
.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffeb3b; /* Yellow background */
  color: #000; /* Black text */
  font-family: Arial, sans-serif;
  text-align: center;
}

.errorMessage {
  font-size: 2rem;
  font-weight: bold;
}